:root {
    --primary-title-color: #ffffff;
    --secondary-title-color: #303030;
    --primary-text-color: #555555;
    --third-text-color: #9da4bd;
    --secondary-text-color: #303030;
    --accent-color: #ff6c00;
    --header-text-color: #ffffff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
}

body {
    font-family: "Open Sans", sans-serif;
    letter-spacing: 0.02em;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.btn {
    /* width: 160px; */
    /* height: 40px; */
    padding: 12px 20px;
    font-family: inherit;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    border: 1px solid var(--accent-color);
    border-radius: 25px;
    background: transparent;
    cursor: pointer;
}

.btn:hover,
.btn:focus {
    color: #ffffff;
}

.pre-title {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.after-title {
    font-size: 18px;
    line-height: 1.67;
}

.section {
    padding-top: 130px;
    padding-bottom: 130px;
}

.section-title {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 42px;
    line-height: calc(49 / 42);
    letter-spacing: 0.05em;
}

.social-link {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    color: var(--secondary-title-color);
}
.social-link:hover,
.social-link:focus {
    color: var(--accent-color);
}

/*----------- HEADER------------- */

.header {
    background-color: grey;
    padding-top: 32px;
    padding-bottom: 32px;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-navigation {
    display: flex;
    align-items: center;
}

.header-logo {
    margin-right: 70px;
}

.header-list {
    display: flex;
}

.header-item:not(:last-child) {
    margin-right: 40px;
}

.header-contact {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.header-link {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: var(--header-text-color);
}

.header-link:hover,
.header-link:focus {
    color: var(--accent-color);
}

.header-tel-link {
    margin-right: 40px;
}

.header-tel-link {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: var(--header-text-color);
}

.header-btn {
    color: #ffffff;
}

/*----------- HERO------------- */

.hero-container {
    display: flex;
}

.hero-list {
    width: 98px;
}

.hero-right {
    flex-grow: 1;
    background-color: var(--secondary-title-color);
    padding-top: 272px;
    padding-left: 91px;
    padding-bottom: 206px;
}

.hero-pre-title {
    color: rgba(157, 164, 189, 0.6);
    margin-bottom: 20px;
}

.hero-title {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 72px;
    line-height: calc(85 / 72);
    letter-spacing: 0.05em;
    color: var(--primary-title-color);
    margin-bottom: 20px;
}

.hero-after-title {
    color: var(--third-text-color);
    max-width: 400px;
}

/*----------- ABOUT------------- */

.about-container {
    display: flex;
}
.about-pre-title {
    color: var(--secondary-title-color);
    margin-bottom: 20px;
}

.about-title {
    color: var(--secondary-title-color);
    margin-bottom: 20px;
    margin-bottom: 20px;
}

.about-after-title {
    margin-bottom: 20px;
}

.about-text {
    font-size: 14px;
    line-height: 1.86;

    letter-spacing: 0.02em;

    color: var(--primary-text-color);
    margin-bottom: 40px;
}

.about-list {
    display: flex;
    margin-right: 64px;
}

.about-item + .about-item {
    margin-left: 30px;
}
.about-btn {
    color: #303030;
}

/*----------- PRICES------------- */

.prices {
    background-color: var(--secondary-text-color);
}

.prices-pre-title {
    color: var(--third-text-color);
    margin-bottom: 20px;
}

.prices-title {
    color: var(--primary-title-color);
    margin-bottom: 44px;
}

.prices-item-text {
    font-size: 18px;
    line-height: 1.67;
    color: var(--third-text-color);
}

.prices-wrap {
    display: flex;
    margin-bottom: 50px;
}

.prices-list {
    width: 50%;
    padding: 30px 40px;
    border: 1px solid var(--third-text-color);
}

.prices-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.prices-item:last-child {
    margin-bottom: 0;
}

.prices-btn {
    color: #ffffff;
}

/*----------- REASONS------------- */

.reasons-container {
    display: flex;
}

.reasons-list {
    width: 370px;
    display: flex;
    flex-wrap: wrap;
}

.reasons-item {
    width: 170px;
    height: 133px;
    border: 1px solid black;
    padding: 20px 24px;
    text-align: center;
}

.reasons-item-dif {
    padding: 20px;
    letter-spacing: 0em;
}

.reasons-count {
    font-weight: 700;
    font-size: 42px;
    line-height: calc(57 / 42);
    text-align: center;
    letter-spacing: 0.05em;
    margin-bottom: 6px;

    color: var(--secondary-text-color);
}

.reasons-item:nth-child(odd) {
    margin-right: 30px;
}

.reasons-item:nth-child(even) {
    margin-top: 30px;
}

.reasons-item-text {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-align: center;
    color: var(--secondary-text-color);
}

.reasons-pre-title {
    color: var(--secondary-text-color);
    margin-bottom: 20px;
}

.reasons-title {
    color: var(--secondary-title-color);
    margin-bottom: 20px;
}

.reasons-after-title {
    color: var(--primary-text-color);
}

.reasons-left {
    display: flex;
    justify-content: center;
    width: 50%;
    flex-shrink: 0;
}

/*----------- MASTERS------------- */

.masters {
    padding-top: 130px;
    padding-bottom: 130px;
}

.masters-pre-title {
    color: var(--secondary-text-color);
    margin-bottom: 20px;
}

.masters-title {
    color: var(--secondary-title-color);
    margin-bottom: 44px;
}

.masters-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}

.masters-item {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;
}

.masters-item-bottom {
    padding-top: 30px;
}

.masters-item-title {
    font-size: 18px;
    line-height: calc(25 / 18);
    text-align: center;
    color: var(--secondary-title-color);
    margin-bottom: 8px;
}

.masters-item-text {
    font-size: 14px;
    line-height: calc(19 / 14);
    text-align: center;
    color: var(--accent-color);
}

/*----------- GALLERY------------- */

.gallery {
    padding-top: 130px;
    padding-bottom: 130px;
}
.gallery-pre-title {
    color: var(--secondary-text-color);
    margin-bottom: 44px;
}

.gallery-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
}

.gallery-item {
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
}

/* ----------------------------------------------- */

.contact-wrap {
    background-color: var(--secondary-title-color);
}
.contact-wrap-container {
    display: flex;
}

/*----------- ONLINE------------- */

.online {
    width: 50%;
}
.online-title {
    color: var(--primary-title-color);
}

/*----------- CONTACTS------------- */

.contacts {
    width: 50%;
    padding-left: 100px;
}
.contacts-title {
    color: var(--primary-title-color);
    margin-bottom: 40px;
}

.contacts-item:not(:last-child) {
    margin-bottom: 20px;
}

.contacts-list {
    margin-bottom: 70px;
}

.contacts-address {
    font-style: inherit;
}

.contacts-link {
    font-size: 18px;
    line-height: 1.67;
    color: var(--third-text-color);
}

.contacts-time-title {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 20px;
    display: block;
}

.contacts-time-text {
    font-size: 18px;
    line-height: 1.67;
    color: var(--third-text-color);
}

.footer {
    padding-top: 57px;
    padding-bottom: 55px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.footer-copy {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    color: var(--third-text-color);
}

.footer-list {
    display: flex;
}

.footer-item + .footer-item {
    margin-left: 40px;
}

.footer-link {
}
