.about {
}

.about__container {
    display: flex;
}
.about-right__pre-title {
    margin-bottom: 20px;
}

.about-right__title {
    color: var(--secondary-title-color);
    margin-bottom: 20px;
    margin-bottom: 20px;
}

.about-right__after-title {
    margin-bottom: 20px;
}

.about-right__text {
    font-size: 14px;
    line-height: 1.86;

    letter-spacing: 0.02em;

    color: var(--primary-text-color);
    margin-bottom: 40px;
}

.about-list {
    display: flex;
    margin-right: 64px;
}

.about-list__item {
     & + & {
        margin-left: 30px;
    }
} 
.about-right__btn {
    color: #303030;
}