.contact-wrap {
    background-color: #191c26;
    background-image: url(../images/contacts-bg.png);
    background-size: 50% 100%;
    background-repeat: no-repeat;
    background-position: right;
    max-width: 1280px;
    margin: 0 auto;
}
.contact-wrap-container {
    display: flex;
}