.hero-container {
    display: flex;
    width: 100%;
    padding: 0;
}

.hero-left {
    @media screen and (max-width: 767px) {
        display: none;
    }
    width: 98px;
    display: flex;
    align-items: flex-end;
    padding-left: 28px;
    padding-bottom: 25px;
}

.hero-list {
    @extend %align-items;
    transform: rotate(-90deg);
    transform-origin: top left;
    &::before {
        content: "";
        width: 60px;
        height: 1px;
        background-color: #303030;
        margin-right: 40px;
    }
}


.hero-item {
   & + & {
        margin-left: 40px;
    }
} 

.hero-right {
    flex-grow: 1;
    background-color: var(--primary-text-color);
    background-image: linear-gradient(
            rgba(25, 28, 38, 0.2),
            rgba(25, 28, 38, 0.2)
        ),
        url(../images/main-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    // padding-top: 272px;
    // padding-left: 91px;
    // padding-bottom: 206px;
    padding-top: 208px;
    padding-left: 31px;
    padding-bottom: 183px;
}

.hero-pre-title {
    margin-bottom: 20px;
}

.hero-title {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: calc(85 / 72);
    letter-spacing: 0.05em;
    color: var(--primary-title-color);
    margin-bottom: 20px;
}

.hero-after-title {
    color: var(--third-text-color);
    max-width: 400px;
}