.backdrop {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(157, 164, 189, 0.6);
    top: 0;
    @extend %align-items;
    justify-content: center;
    transition: opacity 300ms ease-in-out, visibility 300ms ease-in-out;
    &.is-hidden{
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        
    }
}