
.backdrop {  
    &.is-hidden{
        .modal {
                transform: scale(2) rotate(360deg);
            }  
    }
}



.modal {
    width: 500px;
    min-height: 500px;
    background-color: #ffffff;
    border-radius: 10px;
    position: relative;
    transform: scale(1) rotate(0);
    transition: transform 300ms ease;
    padding: 30px;
}

.close-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: transparent;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 1px solid #999999;
    @extend %align-items;
    justify-content: center;
}

