.social-list {
    display: flex;
    justify-content: center;
}

.social-list__item {
    width: 44px;
    height: 44px;
}

.social-list__item + .social-list__item {
    margin-left: 10px;
}

.social-list__link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #ffffff;
    @extend %align-items;
    justify-content: center;
    transition: background-color 300ms ease-in-out;
    &:hover,
    &:focus {
        background-color: teal;
    }
}

.social-list__icon {
    width: 20px;
    height: 20px;
    fill: #303030;
    transition: fill 300ms ease-in-out;
    .social-list__link:hover &,
    .social-list__link:focus & {
        fill: var(--accent-color);
    }
}



