:root {
    --primary-title-color: #ffffff;
    --secondary-title-color: #303030;
    --primary-text-color: #555555;
    --third-text-color: #9da4bd;
    --secondary-text-color: #303030;
    --accent-color: #ff6c00;
    --header-text-color: #ffffff;
}